﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @section Scripts{
        <script>

			function drawHistory() {


                var request = new XMLHttpRequest()

                request.open('GET', '/api/GetMyGameHistory', true)
                request.onload = function () {
                    // Begin accessing JSON data here
                    var data = JSON.parse(this.response)

                    if (request.status >= 200 && request.status < 400) {
                        let win = 0;
                        let tie = 0;
                        let loss = 0;

                        data.forEach((game) => {

                            if (game.result == "WIN") {
                                win++;
                            }
                            else if (game.result == "TIE") {
                                tie++;
                            }
                            else {
                                loss++;
                            }


                            let row = document.createElement("div");
                            row.setAttribute("class", "p-3 bg-white rounded text-center m-2 shadow");

                            let text = document.createElement("h3");
                            text.setAttribute("class", "font-weight-bold");
                            text.innerHTML = "Game - #" + game.id;

                            let textStatus = document.createElement("h3");
                            let clss = game.result == "WIN" ? "text-success" : game.result == "TIE" ? "text-warning" : "text-danger";
                            textStatus.setAttribute("class", "text mb-4 " + clss + "");
                            textStatus.innerHTML = game.result;

                            let oponentsDiv = document.createElement("div");
                            oponentsDiv.setAttribute("class", "p-2 bg-light rounded");

                            let oponents = document.createElement("h4");
                            oponents.setAttribute("class", "");
                            oponents.innerHTML = "Oponents:";
                            oponentsDiv.appendChild(oponents);

                            for (let i = 0; i < game.oponents.length; i++) {
                                oponents = document.createElement("h5");
                                oponents.setAttribute("class", "");
                                oponents.innerHTML = game.oponents[i];
                                oponentsDiv.appendChild(oponents);
                            }

                            let buttonDiv = document.createElement("div");
                            buttonDiv.setAttribute("class", "");

                            let replay = document.createElement("button");
                            replay.innerHTML = "Replay Game";
                            replay.setAttribute("onclick", "playReplay("+game.id+")");
                            replay.setAttribute("class", "btn btn-primary mt-3");

                            buttonDiv.appendChild(replay);
                            row.appendChild(text);
                            row.appendChild(textStatus);
                            row.appendChild(oponentsDiv);
                            row.appendChild(replay);


                            document.getElementById("historyContainer").appendChild(row);
                        });

                        document.getElementById("wins").innerHTML = win;
                        document.getElementById("tie").innerHTML = tie;
                        document.getElementById("loss").innerHTML = loss;
                    }
                }
                request.send()
			}

			function playReplay(gameId) {

                window.location.replace("/Game/Replay/" + gameId);

			}


			drawHistory();

        </script>
}


    <h2 class="text-primary mb-4 float-left">GAME HISTORY</h2>

	<div class="float-right h2">
		<div class=""><b class="text-success">Wins: </b><span id="wins" class="float-right ml-2">-</span></div>
		<div class=""><b class="text-warning">Tie: </b><span id="tie" class="float-right ml-2">-</span></div>
		<div class=""><b class="text-danger">Loss: </b><span id="loss" class="float-right ml-2">-</span></div>
	</div>

    <div id="historyContainer" class="container d-flex flex-wrap justify-content-center ">

    </div>
}
