﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @section Scripts{
        <script>
            const lobbyConn = new signalR.HubConnectionBuilder()
                .withUrl("/lobby/internal")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            var inLobby = false;

            function get_gravatar_image_url(email, size, default_image, allowed_rating, force_default) {
                email = typeof email !== 'undefined' ? email : 'john.doe@example.com';
                size = (size >= 1 && size <= 2048) ? size : 80;
                default_image = typeof default_image !== 'undefined' ? default_image : 'mm';
                allowed_rating = typeof allowed_rating !== 'undefined' ? allowed_rating : 'g';
                force_default = force_default === true ? 'y' : 'n';


                return ("https://secure.gravatar.com/avatar/" + md5(email.toLowerCase().trim()) + "?size=" + size + "&default=" + encodeURIComponent(default_image) + "&rating=" + allowed_rating + (force_default === 'y' ? "&forcedefault=" + force_default : ''));
            }

            function LoadFriendsInTable() {
                var request = new XMLHttpRequest()

                request.open('GET', '/api/GetFriendList', true)
                request.onload = function () {
                    // Begin accessing JSON data here
                    var data = JSON.parse(this.response)

                    if (request.status >= 200 && request.status < 400) {
                        var element = $("#FriendList div div");
                        element.empty();
                        var moreThanOne = 0;

                        if (data.length == 0) {
                            var h4Name = document.createElement("h5");
							h4Name.setAttribute("class","text-muted text-center");
                            h4Name.innerHTML = "You have no friends :(";
                            element.append(h4Name);
                        }

                        data.forEach((record) => {
                            var friendName = record.userName == "@Model" ? record.friendName : record.userName;
                            var requestType = "NONE";
                            if (record.userName == "@Model" && record.accepted == false) {
                                requestType = "OUTGOING";
                            }
                            else if (record.friendName == "@Model" && record.accepted == false) {
                                requestType = "INCOMING";
                            }
                            var rowDiv = document.createElement("div");
                            rowDiv.setAttribute("class", "row align-items-center mb-3 p-3 bg-light rounded");
                            rowDiv.setAttribute("style", "border-bottom: 5px solid #efefef;");
                            var colImg = document.createElement("div");
                            var imgUser = document.createElement("img");
                            imgUser.setAttribute("class", "rounded-circle");
                            imgUser.setAttribute("src", get_gravatar_image_url(friendName));
                            colImg.appendChild(imgUser);
                            var statusIcon = document.createElement("div");
							statusIcon.setAttribute("class", "float-right");

							var statusString = "";
							var statusColor = "";

                            if (record.friendInGame == false && record.friendInLobby == false && record.friendOnline) {
								statusString = "Online";
								statusColor = "text-success";
                            }
                            else if (record.friendInGame == true) {
								statusString = "In game";
                                statusColor = "text-danger";
							}
                            else if (record.friendOnline == false) {
								statusString = "Offline";
                                statusColor = "text-muted";
                            }
                            else {
								statusString = "In lobby";
                                statusColor = "text-warning";
							}

							statusIcon.setAttribute("title", statusString);
							statusIcon.innerHTML = '<svg class="' + statusColor + '" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>';
							colImg.appendChild(statusIcon);
							var statusText = document.createElement("label");
							statusText.setAttribute("class", "ml-3 text-dark font-weight-bold");
							statusText.innerHTML = statusString;
							colImg.appendChild(statusIcon);
                            colImg.appendChild(document.createElement("br"));
                            colImg.appendChild(statusText);

                            var colName = document.createElement("div");
                            colName.setAttribute("class", "col-sm-7");
                            var h4Name = document.createElement("h4");
                            h4Name.innerHTML = friendName;

                            colName.appendChild(h4Name);

                            var colSendreq = document.createElement("div");
                            colSendreq.setAttribute("class", "w-100 text-right pr-4");

                            if (record.friendInGame == false && record.friendInLobby == false && record.friendOnline) {
                                var sendFriendIvite = document.createElement("a");
                                sendFriendIvite.href = "#";
                                sendFriendIvite.setAttribute("onClick", "InviteUserToLobby(\"" + friendName + "\");");
                                sendFriendIvite.setAttribute("class", "text-primary");
                                sendFriendIvite.innerHTML = "Invite to game";
                                colSendreq.appendChild(sendFriendIvite);
                                colSendreq.appendChild(document.createElement("br"));
                            }

							if (requestType == "NONE") {
                                var removeFriendA = document.createElement("a");
                                removeFriendA.href = "#";
                                removeFriendA.setAttribute("onClick", "RemoveFriend(\"" + friendName + "\")");
                                removeFriendA.setAttribute("class", "text-danger");
                                removeFriendA.innerHTML = "Remove friend";
                                colSendreq.appendChild(removeFriendA);
                            }
                            else {
                                if (requestType == "INCOMING") {
                                    var acceptFriendA = document.createElement("a");
                                    acceptFriendA.href = "#";
                                    acceptFriendA.setAttribute("onClick", "AcceptFriendRequest('" + friendName + "')");
                                    acceptFriendA.setAttribute("class", "text-success");
                                    acceptFriendA.innerHTML = "Accept friend request";
                                    colSendreq.appendChild(acceptFriendA);
                                    colSendreq.appendChild(document.createElement("br"));
                                    var declineFriendA = document.createElement("a");
                                    declineFriendA.href = "#";
                                    declineFriendA.setAttribute("onClick", "DeclineFriendRequest(\"" + friendName + "\")");
                                    declineFriendA.setAttribute("class", "text-danger");
                                    declineFriendA.innerHTML = "Decline friend request";
                                    colSendreq.appendChild(declineFriendA);
                                }
                                else {
                                    var acceptFriendA = document.createElement("a");
                                    acceptFriendA.href = "#";
                                    acceptFriendA.innerHTML = "OUTGOING";
                                    colSendreq.appendChild(acceptFriendA);
                                    colSendreq.appendChild(document.createElement("br"));
                                    var declineFriendA = document.createElement("a");
                                    declineFriendA.href = "#";
                                    declineFriendA.setAttribute("onClick", "DeclineFriendRequest(\"" + friendName + "\")");
                                    declineFriendA.setAttribute("class", "text-danger");
                                    declineFriendA.innerHTML = "Remove friend request";
                                    colSendreq.appendChild(declineFriendA);
                                }
                            }



                            rowDiv.appendChild(colImg);
                            rowDiv.appendChild(colName);
                            rowDiv.appendChild(colSendreq);

                            element.append(rowDiv);

                        })
                    } else {
                        console.log('error')
                    }
                }

                request.send()
            }

            function LoadUsersInTable() {
                var request = new XMLHttpRequest()

                request.open('GET', '/api/GetOnlineUsersWithoutFriends', true)
                request.onload = function () {
                    // Begin accessing JSON data here
                    var data = JSON.parse(this.response)

                    if (request.status >= 200 && request.status < 400) {
                        var element = $("#OnlineUsers div div");
                        element.empty();
                        var moreThanOne = 0;

                        data.forEach((userInfo) => {
                            var rowDiv = document.createElement("div");
                            rowDiv.setAttribute("class", "row align-items-center mb-3 p-3 bg-light rounded");
                            rowDiv.setAttribute("style", "border-bottom: 5px solid #efefef;");

                            var colImg = document.createElement("div");
                            var imgUser = document.createElement("img");
                            imgUser.setAttribute("class", "rounded-circle");
                            imgUser.setAttribute("src", get_gravatar_image_url(userInfo.userName));
                            colImg.appendChild(imgUser);
                            var statusIcon = document.createElement("div");
							statusIcon.setAttribute("class", "float-right");

							var statusString = "";
							var statusColor = "";
                            if (userInfo.inGame == false && userInfo.inLobby == false) {
								statusString = "Online";
								statusColor = "text-success";
                            }
                            else if (userInfo.inGame == true) {
								statusString = "In game";
                                statusColor = "text-danger";
                            }
                            else {
								statusString = "In lobby";
                                statusColor = "text-warning";
							}

							statusIcon.setAttribute("title", statusString);
							statusIcon.innerHTML = '<svg class="' + statusColor + '" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg>';
							colImg.appendChild(statusIcon);
							var statusText = document.createElement("label");
							statusText.setAttribute("class", "ml-3 text-dark font-weight-bold");
							statusText.innerHTML = statusString;
							colImg.appendChild(statusIcon);
                            colImg.appendChild(document.createElement("br"));
                            colImg.appendChild(statusText);


                            var colName = document.createElement("div");
                            colName.setAttribute("class", "col-sm-7");
                            var h4Name = document.createElement("h4");
                            h4Name.innerHTML = userInfo.userName;
                            colName.appendChild(h4Name);

                            var colSendreq = document.createElement("div");
                            colSendreq.setAttribute("class", "w-100 text-right pr-4");

                            if (userInfo.inGame == false && userInfo.inLobby == false) {
                                var sendFriendIvite = document.createElement("a");
                                sendFriendIvite.href = "#";
                                sendFriendIvite.setAttribute("onClick", "InviteUserToLobby(\"" + userInfo.userName + "\");");
                                sendFriendIvite.setAttribute("class", "text-primary");
                                sendFriendIvite.innerHTML = "Invite to game";
                                colSendreq.appendChild(sendFriendIvite);
                                colSendreq.appendChild(document.createElement("br"));
                            }
                            var sendFriendReqA = document.createElement("a");
                            sendFriendReqA.href = "#";
                            sendFriendReqA.setAttribute("onClick", "SendFriendRequest(\"" + userInfo.userName + "\")");
                            sendFriendReqA.setAttribute("class", "text-dark");
                            sendFriendReqA.innerHTML = "Send friend request";
                            colSendreq.appendChild(sendFriendReqA);                          


                            rowDiv.appendChild(colImg);
                            rowDiv.appendChild(colName);
                            rowDiv.appendChild(colSendreq);

                            element.append(rowDiv);

                        })
                    } else {
                        console.log('error')
                    }
                }

                request.send()
            }

            function SendFriendRequest(userName) {
                var url = "/api/SendFriendRequest/" + userName;
                fetch(url, { method: "POST" }).then(() => { LoadFriendsInTable(); LoadUsersInTable();}).catch(console.log);
            }

            function AcceptFriendRequest(userName) {
                var url = "/api/AcceptFriendRequest/" + userName;
                fetch(url, { method: "POST" }).then(() => { LoadFriendsInTable(); LoadUsersInTable(); }).catch(console.log);
            }

            function DeclineFriendRequest(userName) {
                var url = "/api/DeclineFriendRequest/" + userName;
                fetch(url, { method: "POST" }).then(() => { LoadFriendsInTable(); LoadUsersInTable(); }).catch(console.log);
            }

            function RemoveFriend(userName) {
                if (!confirm("Are you sure you want to remove " + userName + " from friends?")) {
					return;
				}
                var url = "/api/RemoveFriend/" + userName;
                fetch(url, { method: "POST" }).then(() => { LoadFriendsInTable(); LoadUsersInTable(); }).catch(console.log);
            }

            async function ConnectToGameLobby() {
                try {
                    await lobbyConn.start();
                    console.log("Lobby Hub Connected");
                } catch (err) {
                    console.log(err);
                    setTimeout(ConnectToGameLobby, 5000);
                }
            }

            function CreateGameLobbyView() {

                var documentElement = document.getElementById("GameLobby");
				documentElement.innerHTML = "";

				var element = document.createElement("div");
				element.setAttribute("class", "w-100 bg-white rounded pl-5 pr-5 pt-4 pb-4 ml-auto mr-auto");
				element.setAttribute("style", "display: grid");

				var mainText = document.createElement("h3");
				mainText.setAttribute("class","mt-3 mb-4");
                mainText.innerHTML = "Create Game Lobby";
                element.appendChild(mainText);
                var inputDiv = document.createElement("div");
				inputDiv.setAttribute("class", "");

                var rowDiv = document.createElement("div");
				rowDiv.setAttribute("class","input-group mb-3");

                    var divLabel = document.createElement("div");
				    divLabel.setAttribute("class","input-group-prepend");
				    

                    var widthlabel = document.createElement("span");
				    widthlabel.innerHTML = "Board width:   ";
				    widthlabel.setAttribute("class","input-group-text");
				    divLabel.appendChild(widthlabel);
                    rowDiv.appendChild(divLabel);
                var widthInput = document.createElement("input");
                widthInput.id = "boardWidth";
                widthInput.type = "number";
                widthInput.min = "5";
                widthInput.value = widthInput.min;
                widthInput.setAttribute("onchange", "this.value<" + widthInput.min + "? this.value = " + widthInput.min + " : this.value;");
                widthInput.setAttribute("class", "form-control");
				    rowDiv.appendChild(widthInput);

				inputDiv.appendChild(rowDiv);
                rowDiv = document.createElement("div");
				rowDiv.setAttribute("class","input-group mb-3");

                    divLabel = document.createElement("div");
				    divLabel.setAttribute("class","input-group-prepend");
				    

                var heightlabel = document.createElement("span");
                heightlabel.innerHTML = "Board height: ";
                heightlabel.setAttribute("class","input-group-text");
			    divLabel.appendChild(heightlabel);
                rowDiv.appendChild(divLabel);
                var heightInput = document.createElement("input");
                heightInput.id = "boardHeight";
                heightInput.type = "number";
                heightInput.min = "5";
                heightInput.value = heightInput.min;
                heightInput.setAttribute("onchange", "this.value<" + heightInput.min + "? this.value = " + heightInput.min + " : this.value;");
                heightInput.setAttribute("class", "form-control");
				rowDiv.appendChild(heightInput);

                inputDiv.appendChild(rowDiv);
				element.appendChild(inputDiv);
                var btnLobby = document.createElement("button");
                btnLobby.innerHTML = "Create Lobby";
                btnLobby.setAttribute("onclick", "CreateGameLobby()");
                btnLobby.setAttribute("class", "btn btn-primary float-right");
                element.appendChild(btnLobby);

                documentElement.appendChild(element);

				MyInvites();
            }

            function LobbyAddMessage(message, user = "") {
                var inbox = $("#lobbyInbox");
                if (user == "") {
                    inbox.append("<span>"+ message + "</span><br>");

                } else {
                    inbox.append("<span><span style='color: blue'>" + user + ":</span> " + message + "</span><br>");
                }
                inbox.scrollTop(inbox.prop("scrollHeight"));
            }

            function lobbySendOnEnter(event) {
                if (event.key == "Enter") {
                    lobbySendMessageUI();
                }
            }

            async function lobbySendMessageUI() {
                var textMessage = $("#lobbyTextToSend").val();
                $("#lobbyTextToSend").val("");

                textMessage = textMessage.replace(/\/shrug/g, "¯\\_(ツ)_/¯")

                //LobbyAddMessage(textMessage, "@Model");

                
                try {
                    await lobbyConn.invoke("SendMessageToLobby", textMessage);
                } catch (err) {
                    console.error(err);
                }

            };

            async function StartGameClick() {
                try {
                    await lobbyConn.invoke("StartGame");
                } catch (err) {
                    console.error(err);
                }
            }

            function CurrentGameLobbyView() {
                var request = new XMLHttpRequest()

                request.open('GET', '/api/GetUserGameLobbyId', true)
                request.onload = function () {
                    var lobbyId = this.response

                    if (request.status >= 200 && request.status < 400) {
                        var documentElement = document.getElementById("GameLobby");
                        documentElement.innerHTML = "";

                        var element = document.createElement("div");
                        element.setAttribute("class", "w-100 bg-white rounded pl-5 pr-5 pt-4 pb-4 ml-auto mr-auto");
                        element.setAttribute("style", "display: grid");

                        var mainText = document.createElement("h3");
                        mainText.setAttribute("class", "mt-3 mb-4 text-center");
                        mainText.innerHTML = "<b>Lobby :</b> " + lobbyId;
                        element.appendChild(mainText);
                        var messagesDiv = document.createElement("div");
                        messagesDiv.id = "lobbyInbox";
                        messagesDiv.setAttribute("style", "height: 200px;    max-height: 200px;    overflow: auto;    border: 2px solid #dadada;    padding: 1rem;    margin-bottom: 1rem;    border-radius: 5px;    margin-top: 2rem;");
                        element.appendChild(messagesDiv);
                        var rowDiv = document.createElement("div");
                        rowDiv.setAttribute("class", "input-group mb-3");

                        var divButton = document.createElement("div");
                        divButton.setAttribute("class", "input-group-append");

                        var sendMsgBtn = document.createElement("button");
                        sendMsgBtn.setAttribute("onClick", "lobbySendMessageUI()");
                        sendMsgBtn.setAttribute("class", "btn btn-success");
                        sendMsgBtn.innerHTML = "Send";
                        divButton.appendChild(sendMsgBtn);
                        var inputMessage = document.createElement("input");
                        inputMessage.id = "lobbyTextToSend";
                        inputMessage.setAttribute("onkeypress", "lobbySendOnEnter(event)");
                        inputMessage.setAttribute("class", "form-control");

                        rowDiv.appendChild(inputMessage);
                        rowDiv.appendChild(divButton);

                        element.appendChild(rowDiv);

                        var startBtn = document.createElement("button");
                        startBtn.setAttribute("onClick", "StartGameClick()");
                        startBtn.setAttribute("class", "btn btn-success mt-4");
                        startBtn.innerHTML = "Start Game";
                        element.appendChild(startBtn);

                        var leaveBtn = document.createElement("button");
                        leaveBtn.setAttribute("onClick", "LeaveLobby()");
                        leaveBtn.setAttribute("class", "btn btn-danger mt-1");
                        leaveBtn.innerHTML = "Leave Lobby";
                        element.appendChild(leaveBtn);

                        documentElement.appendChild(element);
                        LobbyAddMessage("Welcome to lobby!");

                        ActiveGameUsers();

                        //Connect to lobbyHub
                        //lobbyConn.onclose(ConnectToGameLobby);

                        ConnectToGameLobby();
                    }
                }
                request.send()
                
            }

            function MyInvites() {
				var documentElement = document.getElementById("MyInvites");
				document.getElementById("MyInvites").removeAttribute("hidden");
                document.getElementById("GamePlayers").setAttribute("hidden", "");
				documentElement.innerHTML = "";

                var mainText = document.createElement("h3");
				mainText.setAttribute("class","mt-3 mb-4");
                mainText.innerHTML = "Your invites";
				documentElement.appendChild(mainText);


                var request = new XMLHttpRequest()

                request.open('GET', '/api/GetInvitesList', true)
                request.onload = function () {
                    // Begin accessing JSON data here
                    var data = JSON.parse(this.response)

                    if (request.status >= 200 && request.status < 400) {
                        data.forEach((lobbyId) => {

                            var element = document.createElement("div");
                            element.setAttribute("class", "w-100 bg-light rounded ml-auto mr-auto mb-3 pb-2");
                            element.setAttribute("style", "border-bottom: 5px solid #efefef; display: grid");

                            var mainText = document.createElement("h3");
                            mainText.setAttribute("class", "mt-3 mb-4 text-center");
                            mainText.innerHTML = "Invite to #" + lobbyId;
                            element.appendChild(mainText);



                            var buttonDiv = document.createElement("div");
                            buttonDiv.setAttribute("class", "buttonDiv d-flex");



                            var acceptBtn = document.createElement("button");
                            acceptBtn.setAttribute("onClick", "acceptInvite("+lobbyId+")");
                            acceptBtn.setAttribute("class", "btn btn-success ml-4 mr-4");
                            acceptBtn.setAttribute("style", "flex-grow: 1; flex-basis: 0;");
                            acceptBtn.innerHTML = "Accept";
                            buttonDiv.appendChild(acceptBtn);

                            var declineBtn = document.createElement("button");
                            declineBtn.setAttribute("onClick", "declineInvite("+lobbyId+")");
                            declineBtn.setAttribute("class", "btn btn-danger ml-4 mr-4");
                            declineBtn.setAttribute("style", "flex-grow: 1; flex-basis: 0;");
                            declineBtn.innerHTML = "Decline";
                            buttonDiv.appendChild(declineBtn);

                            element.appendChild(buttonDiv);

                            documentElement.appendChild(element);

                        });
                    }
                }
                request.send()
            }

            function ActiveGameUsers() {
				var documentElement = document.getElementById("GamePlayers");
				document.getElementById("GamePlayers").removeAttribute("hidden");
                document.getElementById("MyInvites").setAttribute("hidden", "");
				documentElement.innerHTML = "";

                var mainText = document.createElement("h3");
				mainText.setAttribute("class","mt-3 mb-4");
                mainText.innerHTML = "Players";
				documentElement.appendChild(mainText);

                var request = new XMLHttpRequest()

                request.open('GET', '/api/GetMyLobbyPlayers', true)
                request.onload = function () {
                    // Begin accessing JSON data here
                    var data = JSON.parse(this.response)

                    if (request.status >= 200 && request.status < 400) {
                        data.forEach((lobbyPlayer) => {

                            var element = document.createElement("div");
                            element.setAttribute("class", "w-100 bg-light rounded ml-auto mr-auto mb-2 p-3 pl-4 ");
                            element.setAttribute("style", "display: flow-root;");

                            var mainText = document.createElement("h4");
                            mainText.setAttribute("class", "float-left");
                            if (!lobbyPlayer.inLobby) {
                                mainText.setAttribute("class", "float-left text-muted");
                            }
                            mainText.innerHTML = lobbyPlayer.userName;
                            element.appendChild(mainText);
                            var icon = document.createElement("div");
                            if (!lobbyPlayer.inLobby) {
                                icon.innerHTML += '<svg width="16" height="16" fill="currentColor" class="bi bi-hourglass-split" viewBox="0 0 16 16"><path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z" /></svg >';
                                icon.setAttribute("class", "float-right text-warning");
                            }
                            else {
                                icon.innerHTML += '<svg width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">< path d = "M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" /><path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" /></svg >';
                                icon.setAttribute("class", "float-right text-success");
                            }
                            element.appendChild(icon);
                            documentElement.appendChild(element);

                        });
                    }
                }
                request.send()
            }
            function acceptInvite(lobbyId) {
                fetch("/api/JoinGameLobby/" + lobbyId, { method: "POST" }).then(async (response) => {
                    if (response.status == 200) {
                        inLobby = true;
                        CurrentGameLobbyView();
                    }
                    else {
                        AddNotification("Game invitation not valid!", "danger");
                    }
                }).catch(console.log);

			}

			function declineInvite(lobbyId) {

				event.target.parentNode.parentNode.remove();

                fetch("/api/DeclineGameRequest/" + lobbyId, { method: "POST" }).then(async (response) => {
                    if (response.status == 200) {
                        //OK
                    }
                    else {
                        AddNotification("Game invitation not valid!", "danger");
                    }
                }).catch(console.log);
            }
            
            async function InviteUserToLobby(user) {
                if (inLobby) {
                    fetch("/api/InviteToGameLobby/"+user, { method: "POST" }).then(async (response) => {
                        if (response.status == 200) {
                            LobbyAddMessage("Invited user: " + user);
                            ActiveGameUsers();

                            try {
                                await notifyConn.invoke("NotifyUser", user, "Game invite from: @Model");
                            } catch (err) {
                                console.error(err);
                            }
                        }
                        else {
                            LobbyAddMessage("Invite sending failed :(");
                        }
                    }).catch(console.log);
                }
                else {
                    AddNotification("You have to create lobby first!", "warning");
                }
            }

            async function LeaveLobby() {
                var url = "/api/LeaveGameLobby";
                inLobby = false;
                try {
                    await lobbyConn.stop();
                    console.log("Lobby Hub Disconnected");
                } catch (err) {
                    console.log(err);
                }
                fetch(url, { method: "POST" }).then( () => {
                    CreateGameLobbyView();
                }).catch(console.log);
            }

            function CreateGameLobby() {
                var boardWidth = document.getElementById("boardWidth").value;
                var boardHeight = document.getElementById("boardHeight").value;
                var boardData = { BoardWidth: boardWidth, BoardHeight: boardHeight };

                var url = "/api/CreateGameLobby";
                fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(boardData)
                }).then(function (response) {
                    if (response.status == 200) {
                        inLobby = true;
                        CurrentGameLobbyView();
                    } 
                    else {
                        AddNotification("Lobby could not be created :(", "danger");
                    }
                }).catch(console.log);
            }

            LoadFriendsInTable();
            LoadUsersInTable();

            lobbyConn.on("AcceptLobbyMessage", (message, sender) => {
                if (sender == null || message.includes("joined") || message.includes("left")) {
                    setTimeout(ActiveGameUsers, 250);
                }
                LobbyAddMessage(message, sender);
            });
            lobbyConn.on("StartGame", () => {
                //Switch view to active game
                location.assign("/Game/Active");
            });

            notifyConn.on("AcceptNotification", (message) => {
                MyInvites();
            });

            fetch("/api/GetUserGameState", { method: "GET" }).then((response) => {
                if (response.status == 200) {
                    response.text().then((text) => {
                        if (text == "NOT_IN_GAME") {
                            inLobby = false;
                            CreateGameLobbyView();
                        }
                        if (text == "IN_LOBBY") {
                            inLobby = true;
                            CurrentGameLobbyView();
                        }
                        if (text == "IN_GAME") {
                            location.assign("/Game/Active");
                        }
                    })
                }
            }).catch(console.log);

            setInterval(LoadFriendsInTable, 5000);
            setInterval(LoadUsersInTable, 5000);
        </script>
    }
    <h2 class="text-primary mb-5">GAME MENU</h2>

    <div id="left-pannel" class="float-md-left col-12 col-xl-6 pr-3">
        <div id="GameLobby">

        </div>
        <div id="MyInvites" class="mt-4 p-4 bg-white pl-5 pr-5" hidden>

        </div>
        <div id="GamePlayers" class="mt-4 p-4 bg-white pl-5 pr-5" hidden>

        </div>
    </div>

    <div id="right-pannel" class="float-md-right col-12 col-xl-6 bg-white p-2 rounded mt-4 mt-xl-0 ">
        <h3 class="text-black text-center w-100">Friend list</h3>
        <div id="FriendList">
            <div class="container">
                <div class=" p-3 rounded">

                </div>
            </div>
        </div>

        <h3 class="text-black text-center w-100 mt-5">Online users</h3>
        <div id="OnlineUsers">
            <div class="container">
                <div class=" p-3 rounded">

                </div>
            </div>
        </div>
    </div>
}
