﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @section Scripts{
        <script>
            notifyConn.on("UserUpdate", (users) => {
                console.log("USER UPDATE!");
                console.log(users);
                var onlineUserList = $("#OnlineList");
                onlineUserList.empty();

               /* for (var user in users) {
                    var userComp = document.createElement("p");
                    userComp.innerHTML = user;
                    onlineUserList.append(userComp);
                }*/

                users.map(t => {
                    var userComp = document.createElement("p");
                    userComp.innerHTML = t;
                    onlineUserList.append(userComp);
                });
            });
        </script>
    }
    <p>Provizorni Lobby MENU</p>
    <a asp-controller="Game" asp-action="Active">Aktivní hra</a>
    <a asp-controller="Game" asp-action="Index">Zpet na herni stranku</a>

    <p>Online players</p>
    <div id="OnlineList" style="grid-template-columns: repeat(1, 1fr); display: grid;">
    </div>
}
