﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @section Scripts{
        <script>
            const chatConn = new signalR.HubConnectionBuilder()
                .withUrl("/chat/internal")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            async function chatStart() {
                try {
                    await chatConn.start();
                    console.log("SignalR Connected.");
                } catch (err) {
                    console.log(err);
                    setTimeout(chatStart, 5000);
                }
            };

            chatConn.onclose(chatStart);

            // chatStart the chatConn.
            chatStart();

            chatConn.on("ReceiveMessage", (user, message) => {
                console.log("RECIEVED: " + message);
            });


            function sendOnEnter(event) {
                if (event.key == "Enter") {
                    sendMessageUI();
                }
            }
            async function sendMessageUI() {
                var textMessage = $("#textToSend").val();
                $("#textToSend").val("");

                textMessage = textMessage.replace(/\/shrug/g, "¯\\_(ツ)_/¯")

                try {
                    await chatConn.invoke("SendMessage", "cokoliv", textMessage);
                } catch (err) {
                    console.error(err);
                }

            };

            chatConn.on("ReceiveMessage", (user, message) => {
                var inbox = $("#inbox");
                inbox.append("<div><span class='text-primary'>" + user + ": </span><span> " + message + "</span> <span class='float-right'>" + new Date().toLocaleString('en-US', { hour12: true, hour: "numeric", minute: "numeric"}) + "</span></div>");
                inbox.scrollTop(inbox.prop("scrollHeight"));
            });

        </script>
    }
        <main role="main" class="inner cover">
            <h2 class="text-primary">Chat room</h2>
            <div id="inbox" style="height: 20vw;   overflow: auto;    border: 2px solid #dadada;    padding: 1rem;    margin-bottom: 1rem;    border-radius: 5px;    margin-top: 2rem;">
                <p>Welcome to the Global chat room!</p>
            </div>
            <div class="input-group mb-3">
                <input id="textToSend" onkeypress="sendOnEnter(event)" type="text" class="form-control p-4" placeholder="Your message here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" onclick="sendMessageUI()">Send</button>
                </div>
            </div>
        </main>
    }
