﻿@{
    ViewData["Title"] = "Home Page";
}

<main role="main" class="inner cover text-center p-5">
    <h1 class="cover-heading text-primary">Five In a Row.</h1>
    <h3 class="cover-heading">Online game</h3>
    <p class="lead">Goal is to achieve 5 cells in a row in any chosen direction.</p>
    <p class="lead mt-5">
        <a href="/Game" class="btn btn-lg btn-primary">Lets play</a>
    </p>
</main>
