﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Application was developed as a semester project for KIV/PIA.</p>
<p>Created by: </p>
<a href ="http://silent-industries.cz/" target="_blank"><img src="http://silent-industries.cz/logo_cele.png" class="img-fluid"></a>
