﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	@section Scripts{
		<script>

			function get_gravatar_image_url(email, size, default_image, allowed_rating, force_default) {
				email = typeof email !== 'undefined' ? email : 'john.doe@example.com';
				size = (size >= 1 && size <= 2048) ? size : 80;
				default_image = typeof default_image !== 'undefined' ? default_image : 'mm';
				allowed_rating = typeof allowed_rating !== 'undefined' ? allowed_rating : 'g';
				force_default = force_default === true ? 'y' : 'n';


				return ("https://secure.gravatar.com/avatar/" + md5(email.toLowerCase().trim()) + "?size=" + size + "&default=" + encodeURIComponent(default_image) + "&rating=" + allowed_rating + (force_default === 'y' ? "&forcedefault=" + force_default : ''));
			}

			function checkPasswd() {

				let input = document.getElementById("inputPasswordNew");
				let inputVerify = document.getElementById("inputPasswordNewVerify");
				let inputOld = document.getElementById("inputPasswordOld");

				if (document.getElementById("inputPasswordNew").value != document.getElementById("inputPasswordNewVerify").value) {
                    input.value = "";
                    inputVerify.value = "";
                    inputOld.value = "";
					alert("Passwords must be same!");
					return;
				}

				  var lowerCaseLetters = /[a-z]/g;
				if (!input.value.match(lowerCaseLetters)) { 
                    input.value = "";
                    inputVerify.value = "";
                    inputOld.value = "";
					alert("Passwords must contain non capital letters!");
					return;
				  }
  
				  var upperCaseLetters = /[A-Z]/g;
                if (!input.value.match(upperCaseLetters)) {  
                    input.value = "";
                    inputVerify.value = "";
                    inputOld.value = "";
					alert("Passwords must contain capital leters!");
					return;
				  }

				  var numbers = /[0-9]/g;
                if (!input.value.match(numbers)) {  
                    input.value = "";
                    inputVerify.value = "";
                    inputOld.value = "";
					alert("Passwords must contain numbers!");
					return;
				  }
  
                if (input.value.length < 6) {
                    input.value = "";
                    inputVerify.value = "";
                    inputOld.value = "";
					alert("Passwords must be longer than 6 characters!");
					return;
				}

                var changePasswordModel = { Password: input.value, OldPassword: inputOld.value };
                input.value = "";
                inputVerify.value = "";
                inputOld.value = "";

                var url = "/api/PasswordChange";
                fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(changePasswordModel)
                }).then(function (response) {
					if (response.status == 200) {
						AddNotification("Password changed!");
                    }
                    else {
                        AddNotification("Password change failed!", "danger");
                    }
                }).catch(console.log);

			}

			document.getElementById("avatar").setAttribute("src", get_gravatar_image_url(document.getElementById("name").innerHTML));

		</script>
	}



	<h2 class="text-primary float-left">Setting</h2>

	<div class="float-right d-flex">
		<h3 id="name" class="p-3 ml-3">@Model</h3>
		<img src="" id="avatar" class="rounded-circle">
	</div>


		<div class="card-body col-12 col-lg-6 bg-white rouded ml-auto mr-auto" style="margin-top: 6rem; display: flow-root;">
            <form class="form" role="form" autocomplete="off" href="#">
                <div class="form-group">
                    <label for="inputPasswordOld">Old Password</label>
                    <input type="password" class="form-control" id="inputPasswordOld" required="" minlength="6">
                    <span class="form-text small text-muted">
                        Old password for validation.
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" required="" minlength="6">
                    <span class="form-text small text-muted">
                        The password must be 6-32 characters, and must <em>not</em> contain spaces.
                    </span>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Verify Password</label>
                    <input type="password" class="form-control" id="inputPasswordNewVerify" required="" minlength="6">
                    <span class="form-text small text-muted">
                        To confirm, type the new password again.
                    </span>
                </div>
                <div class="form-group">
                    <button type="button" onclick="checkPasswd()" class="btn btn-primary btn-lg float-right" id="">Change Password</button>
                </div>
            </form>
		</div>

}
